body {
  font-size: 18px;
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: black;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2rem;
}

.container {
  margin-top: 20vh;
}
