<section style="color: black;">
  <br>
  <mat-grid-list cols="4" rowHeight="fit" [style.height]="'80px'" [gutterSize]="'1px'">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-form-field style="width: 500px; margin-top: 15px;">
        <mat-label>Filter Products</mat-label>
        <input matInput type="text" #filterInput [(ngModel)]="value" (keyup)="applyFilter()"/>
        @if (value) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-fab extended (click)="productDialog()">
        <mat-icon class="mat-18">add</mat-icon>
        New Product
      </button>
      &nbsp;
      <button mat-fab extended (click)="onCategories()">
        <mat-icon class="mat-18">settings</mat-icon>
        Categories
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h3>Sort Products:</h3>
      &nbsp;
      <mat-button-toggle-group name="sorting" aria-label="Sort Products" [(ngModel)]="sort">
        <mat-button-toggle ngDefaultControl style="color: black;" value="name" (click)="sortProducts(lastSort)">Name</mat-button-toggle>
        <mat-button-toggle ngDefaultControl style="color: black;" value="category" (click)="sortProducts(lastSort)">Category</mat-button-toggle>
        <mat-button-toggle ngDefaultControl style="color: black;" value="price" (click)="sortProducts(lastSort)">Price</mat-button-toggle>
        <mat-button-toggle ngDefaultControl style="color: black;" value="available" (click)="sortProducts(lastSort)">Available</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
</section>
<section style="padding: 10px;">
  <mat-grid-list cols="4" rowHeight="4:3">
    <mat-grid-tile *ngFor="let item of data">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle>{{ getCategoryName(item.category) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <br>Price: {{item.price | currency:'USD' }}
          <br>Available: {{item.available}}
          <br>Description: {{item.description}}
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions align="end">
            <div>
              <button mat-fab extended style="color: white; background-color: #db202f;" (click)="deleteProduct(item)">
                <mat-icon>delete</mat-icon>
                Delete
              </button>&nbsp;
            </div>
            &nbsp;
            <div>
              <button mat-fab extended style="color: white; background-color: #ffaa00;" (click)="productDialog(item)">
                <mat-icon>edit</mat-icon>
                Edit
              </button>
            </div>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
