<h1 matDialogTitle *ngIf="product.id_product === 0">New Product</h1>
<h1 matDialogTitle *ngIf="product.id_product != 0">Edit Product</h1>

<mat-dialog-content>
  <mat-form-field class="mat-mdc-form-field">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="product.name">
  </mat-form-field>
  <mat-form-field class="mat-mdc-form-field">
    <mat-label>Category</mat-label>
    <mat-select [(value)]="product.category">
      @for (c of categories; track product.category) {
      <mat-option [value]="c.id_category">{{c.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <table style="width: 100%;">
    <tr>
      <td>
        <mat-form-field class="mat-mdc-form-field">
          <mat-label>Price</mat-label>
          <span matTextPrefix>$ &nbsp;</span>
          <input matInput type="number" min="0.00" step="0.01" [(ngModel)]="product.price" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="mat-mdc-form-field">
          <mat-label>Available</mat-label>
          <input matInput [(ngModel)]="product.available">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field class="mat-mdc-form-field">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="product.description"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button style="color: white; background-color: #db202f;" matDialogClose>Cancel</button>
  <button mat-flat-button style="color: white; background-color: #09C009;" matDialogClose *ngIf="product.id_product === 0" (click)="newProduct(product)">Create</button>
  <button mat-flat-button style="color: white; background-color: #ffaa00;" matDialogClose *ngIf="product.id_product != 0" (click)="updateProduct(product)">Edit</button>
</mat-dialog-actions>
